## Monte Carlo Simulations of Avacado Demand

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
pwd

'/home/pinkmonkey/Documents/Blogs'

In [16]:
df = pd.read_csv("/home/pinkmonkey/Downloads/Kaggle_datasets/Avacado/avocado.csv")
df = df.drop(['4046','4225','4770','Total Bags','Small Bags', 'Large Bags', 'XLarge Bags','type'], axis=1)
df.head()
#df.shape

   Unnamed: 0        Date  AveragePrice  Total Volume  year  region
0           0  2015-12-27          1.33      64236.62  2015  Albany
1           1  2015-12-20          1.35      54876.98  2015  Albany
2           2  2015-12-13          0.93     118220.22  2015  Albany
3           3  2015-12-06          1.08      78992.15  2015  Albany
4           4  2015-11-29          1.28      51039.60  2015  Albany